---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="max-w-screen-lg">
			<div class="flex flex-col gap-4 md:flex-row">
				<div class="picture md:basis-1/4"/>
				<section class="md:basis-3/4">
						<p>I’m a software engineer based out of Seattle working at <a href="https://www.databricks.com/">Databricks</a> on notebooks.</p>

						<p>I graduated in 2015 with a Bachelor’s Degree in Computer Science from <a href="http://www.cmu.edu">Carnegie Mellon University</a> in Pittsburgh.</p>

						<p>Previously, I’ve worked on:</p>
						<ul>
						<li><a href="https://domains.google.com/registrar">Google Domains</a></li>
						<li><a href="https://support.google.com/ci-ses/answer/7253843?hl=en&amp;ref_topic=7253644">Google’s Feed Management tools</a></li>
						<li><a href="https://www.apple.com/numbers/">Apple’s Numbers, a part of iWork</a></li>
						<li><a href="https://www.facebook.com/ssamobile">SSA Mobile for iOS and Android</a></li>
						</ul>

						<p>See my <a href="https://notes.franklin.dev">Notes</a> page for some of my less-organized thoughts and writings.</p>
				</section>
			</div>
		</main>
		<Footer />
	</body>
	<style>
	  .picture {
		width: 250px;
		height: 250px;
		background-color: red;
	  }
	</style>
</html>

